/*
; Title: barlowe-temp-conversion.css
; Author: Justin Barlowe
; Date: 27 Mar 2023
; Description: CSS page for exercise 3.3 */

h1 {
    border-color: none;
    background-color: none;
    background: none;
    color: black;
    border: none;
    text-align: center;
}
/* Changed heading style for title to match example */

h2 {
    background-color: none;
    background: none;
    border: none;
    color: #3C275A;
    padding: 5px;
    padding-bottom: 0px;
}
/* Changed heading card title to match example */

body {
    text-align: center;
    max-width: 50%;
    margin: auto;
}

.btn-primary {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    border: 0;
}

/* Some button formatting to make it match example better */


#temp-results {
    font-size: 24px;
}

/* Increased font size to better match example */

.return-home {
    align-items: left;
    text-align: left;
    padding: 5px;
}

/* Return home button moved to left to match example better */